@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-Gilroy: 'Gilroy', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: white;
  font-family: var(--font-gilroy), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Lazy loading effects */
.lazy-load {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.lazy-load.loaded {
  opacity: 1;
}