@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-caveat-brush: 'Caveat Brush', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: white;
  font-family: var(--font-caveat-brush), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
